html, body {margin: 0; height: 100%; overflow: hidden}

#root, .App, .App>div, .refresh-view {
  height: 100% !important;
}

.header {
  position: relative;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: rgba(0,0,0,.6); 
  color: #fff;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;

}
.weatherImage {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}

.weatherImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: red;
}

.footer {
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background: rgba(0,0,0,.6); 
  color: #fff;
  overflow: hidden;
  padding: 20px 10px 40px 10px;
  box-sizing: border-box;  
}

.footer nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer nav li {
  display: inline-block;
  padding: 5px;
}

.footer nav li a {
  color: #fff;
}

.forecast {
  position: absolute;
  z-index: 2;
  overflow: auto;
  width: 100%;
  height: calc(100% - 240px) !important;
  background: rgba(255,255,255,.9); 
  /* touch-action: pan-down - Prevents the "jerk halfway down the page and not reloading" issue with react-pull-to-refresh: */
  /* https://github.com/hammerjs/hammer.js/issues/1103 */
  /* (but breaks being able to scroll weather view back up again - hmm) */
  touch-action: pan-down; 
}

.forecast ul.threehour {
  list-style: none;
  margin: 20px 0;
  padding: 0;
  width: 100%;
  white-space: nowrap;
  overflow: scroll;
  font-size: 110%;
  touch-action: pan-x; 

}

.forecast ul.threehour::-webkit-scrollbar {
  display: none;
}

.forecast ul.threehour li {
  display: inline-block;
  padding: 14px;
}

.forecast ul.threehour li .time, .forecast ul.threehour li .icon, .forecast ul.threehour li .temp {
  display: block;
}

.forecast table.daily {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  font-size: 120%;
}

.forecast table.daily td.weekday {
  text-align: left;
}

.forecast table.daily td.maxTemp, .forecast table.daily td.minTemp {
  text-align: right;
}

.forecast .icon {
  width: 50px;
  filter: drop-shadow(0 0 1px #000);
}

/* Prevent scroll bounce when viewed as a PWA on iPhone (works on iOS13) */
html,
body {
  position: fixed;
  overflow: hidden;
  width: 100%;
}